<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.0">
    <servlet>
        <servlet-name>AddSpare</servlet-name>
        <servlet-class>Servlets.AddSpare</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSpare</servlet-name>
        <url-pattern>/AddSpare</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenerateBill</servlet-name>
        <servlet-class>Servlets.GenerateBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateBill</servlet-name>
        <url-pattern>/GenerateBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addVehicle</servlet-name>
        <servlet-class>Servlets.addVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addVehicle</servlet-name>
        <url-pattern>/addVehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>Servlets.AddService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOperator</servlet-name>
        <servlet-class>Servlets.AddOperator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOperator</servlet-name>
        <url-pattern>/AddOperator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlockOperator</servlet-name>
        <servlet-class>Servlets.BlockOperator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlockOperator</servlet-name>
        <url-pattern>/BlockOperator</url-pattern>
    </servlet-mapping>

</web-app>